@font-face {
    font-family: 'FeltPen';
    src: url('../data/Dker-FeltPen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chalk';
    src: url('../data/Neat-Chalk.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Chalk, sans-serif;
}

:root {
    --initial-rotate: 0deg;
    --rotation-direction: 1;
    --random-delay: 0s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url('../data/blackboard.webp');
    background-size: cover;
    background-position: center;
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(var(--initial-rotate));
    }
    50% {
        opacity: 1;
        transform: scale(1.2) rotate(var(--initial-rotate));
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(var(--initial-rotate));
    }
}

@keyframes letterRotate {
    0%, 100% {
        transform: rotate(calc(var(--initial-rotate) * 1deg));
    }
    50% {
        transform: rotate(calc(var(--initial-rotate) + var(--rotation-direction) * 3deg));
    }
}

.game-title {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    display: flex;
}

.game-title span {
    opacity: 0;
    display: inline-block;
    animation: titleAnimation 0.4s forwards, letterRotate 2s infinite;
    animation-delay: calc(0.05s * var(--i)), var(--random-delay);
    animation-timing-function: ease-in-out;
}

.game-title span:nth-child(1) { --i: 1; }
.game-title span:nth-child(2) { --i: 2; }
.game-title span:nth-child(3) { --i: 3; }
.game-title span:nth-child(4) { --i: 4; }
.game-title span:nth-child(5) { --i: 5; }
.game-title span:nth-child(6) { --i: 6; }
.game-title span:nth-child(7) { --i: 7; }
.game-title span:nth-child(8) { --i: 8; }
.game-title span:nth-child(9) { --i: 9; }
.game-title span:nth-child(10) { --i: 10; }
.game-title span:nth-child(11) { --i: 11; }

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #3b3b3b;
}
