@font-face {
    font-family: 'Chalk';
    src: url('/data/Neat-Chalk.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url('/data/blackboard.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Chalk', sans-serif;
}

.waiting-container {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.blinking-dot {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.back-button {
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px 30px;
    font-size: 1.5em;
    margin-top: 20px;
    font-family: 'Chalk', sans-serif;
}

.back-button:hover {
    background-color: #3b3b3b;
}

@media (max-width: 480px) {
    .waiting-container {
        width: 100%;
        padding: 0.5rem;
    }

    .back-button {
        font-size: 0.9rem;
        padding: 6px;
    }
}