@font-face {
    font-family: 'FeltPen';
    src: url('/data/Dker-FeltPen.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chalk';
    src: url('/data/Neat-Chalk.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Chalk, sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url('/data/blackboard.webp');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4em;
    position: absolute;
    left: 2.5vw;
}

.scoreboard {
    max-height: 60%;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    margin-right: 4vw;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 25em;
    font-size: 1.5em;
}

th, td {
    padding: 0.5em;
    text-align: center;
}

th {
    top: 0;
    z-index: 1;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 0.1em;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    bottom: 12%;
    white-space: pre;
    font-size: 3em;
}

.player-name {
    position: absolute;
    font-size: 0.5em;
}

#first {
    top: 2.5%;
    left: 52.5%;
    transform: translateX(-50%);
    color: #FFD700;
}

#second {
    top: 22.5%;
    color: #C0C0C0;
}

#third {
    top: 45%;
    right: 0.01%;
    color: #CD7F32;
}

.scoreboard::-webkit-scrollbar {
    width: 10px;
}

.scoreboard::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
}

.scoreboard::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}