<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web - History</title>
    <link rel="icon" href="/data/favicon.png">
    <link rel="stylesheet" href="/static/history/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="title">
    <h1>Historique des parties</h1>
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Joueur</th>
            <th>Statut</th>
            <th>Mot</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td>{{.Username}}</td>
                <td>{{.Status}}</td>
                <td>{{.CurrentWord}}</td>
                <td>{{.Score}}</td>
                <td><button class="btn-play" onclick="window.location.href='/game'"><i class="fas fa-redo"></i></button></td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>

</body>