<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web - History</title>
    <link rel="stylesheet" href="/static/history/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="title">
    <h1>Historique des parties</h1>
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Joueur</th>
            <th>Statut</th>
            <th>Mot</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2024-27-11 13:57</td>
            <td>John Doe</td>
            <td>Win</td>
            <td>classe</td>
            <td>4</td>
            <td><a href="#" class="btn-play"><i class="fas fa-redo"></i></a></td>
        </tr>
        <tr>
            <td>2024-26-11 07:25</td>
            <td>Jane Doe</td>
            <td>Loss</td>
            <td>bureau</td>
            <td>6</td>
            <td><a href="#" class="btn-play"><i class="fas fa-redo"></i></a></td>
        </tr>
        <tr>
            <td>2024-24-11 20:12</td>
            <td>Rick Astley</td>
            <td>Pending</td>
            <td>po_be__e</td>
            <td>0</td>
            <td><a href="#" class="btn-play"><i class="fas fa-redo"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>